.about-section {
  text-align: center;
  padding: 100px 0;
  h2 {
    margin-bottom: 22px;
    color: $shark;
  }
  p {
    @include font-parametars (28px, 30px, 400);
    margin-bottom: 22px;
    color: $shark;
  }
  @include bp(mobile) {
    p {
      @include font-parametars (22px, 24px, 400);
    }
  }
}