//Font
//************************
$lato:'Lato', sans-serif;

//Width
//*************************
$max-width: 1110px;

//Colors
//****************************
$white: #fff;
$black: #000;
$grey-tr: rgba(52, 58, 64, 0.5);
$red: #ab1524;       
$dark-red: darken(#ab1524,5%);
$light-red: lighten(#ab1524,10%);
$grey: #343a40;
$dark-grey: darken(#343a40,3%);
$shark: #212529;

